*{
	margin:0px;
	padding:0px;


}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/************************************************************************************************
**********************************MEDIA QUARY****************************************************
************************************************************************************************/
@media only screen and (min-width: 1500px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/************************************************************************************************
******************************************DIVIDER*************************************************
************************************************************************************************/


.divider{
    height: 3px;
/*    color: #000;*/
}

.divider:before{
    content: '';
    height: 100%;
    display: block;
    width: 55px;
    background: #000000;
    border-left: 55px solid #F9BE00 ;
    border-right: 55px solid #F9BE00;
    margin: 0 auto;
}

/************************************************************************************************
******************************************HEADER*************************************************
************************************************************************************************/

.header-logo{
    margin: 0;
    background: #000;
    width: 100%;
    height: 100px;
}

.logo{
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width: 100%;
    top: 100px;
    left: 0;
    position: absolute;
    background: #808080;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    /*z-index: 220;
    position: fixed;*/
}

                                                                                       
.main-menu{
    text-align: center;
}

.main-menu .menu-item{
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0px 45px;
    text-transform: uppercase;
    
}

.main-menu .menu-item a:link,
.main-menu .menu-item a:visited{
    color: white;
    text-decoration: none;
}

.main-menu .menu-item:hover,
.main-menu .menu-item:visited{
    background-color: #CCCCCC;
    cursor: pointer;
}

.sub-header{
    background: #000;
    height: 15px;
    width: 100%;
    top: 145px;
    left: 0;
    position: absolute;
    
}

.sub-header-title{
    display: inline;
    color: #fff;
    font-family: Helvetica,Arial, sans-serif;
    text-decoration: none;
} 

.sub-header .sub-header-title:hover{
    color:#000;
}

.sub-header .sub-header-title:hover,
.sub-header .sub-header-title:visited{
    background-color: #CCCCCC;
    cursor: pointer;
    display: inline;
}

/************************************************************************************************
******************************************SLIDER*************************************************
************************************************************************************************/


#slideshow{
        width:100%;
        overflow: hidden;
        display: inline-block;
   
			}
.slide-wrapper{
        width:500%;
        margin-top: 60px;
        position :relative;
        animation-name:slide;
        animation-duration:10s;
        animation-iteration-count:infinite;
}
.slide-number{
		width:20%;
		height:600px;
}
@keyframes slide{
	    0%{margin-left:0%;}
        50%{margin-left:-100%;}
        100%{margin-left:-200%;}
}	

/************************************************************************************************
******************************************BODY*************************************************
************************************************************************************************/


.body{
    width: 100%;
    height: 850px;
}

.body-title{
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

.body-content{
    text-align: center;
    width: 30%;
    height: 600px;
    float: right;
    display: inline-block;
    font-family: Georgia, Times, serif;
    font-size: 20px;
    padding-right: 200px;
    
}

.body-img{
    width: 450px;
    height: 500px;
    display: inline-block;
    margin-left: 200px;
    position: relative
    
}

.pic{
    width: 450px;
    height: 500px;
    display: block;
    
}

.img{
    margin: 40px;
}

.img .body-img:hover h2{
    display: block;
}

.img h2{
    width: 450px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    line-height: 300px;
    color: white;
    display: none;
    
}

/* Dropdown Button */
.dropbtn {
    background-color: #000;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 1000px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ccc;
    color: #000;
    border color: #000;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    text-align: center;
    margin-left: 800px;
    font-family: Georgia, Times, serif;
    font-size: 20px;
   
}

/* Links inside the dropdown */
.dropdown-content p{
    color: black;
    padding: 12px 16px;
    display: inline-block;
    width: 450px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

.sub-body{
    width: 100%;
    height: 680px;
    
    display: flex;
    padding-left: 100px;
}

.sub-body-img-info{
    width: 350px;
    text-align: center;
    float: left;
    padding: 20px;
    display: inline;
    position: relative;
    margin-bottom: 2px;
}

.sub-body .sub-body-img-info{
    margin: 2px;
    box-shadow: inset 0 10px 15px 3px rgba(30,31,33, 0.5);
}

.sub-body-img-title{
    font-size: 25px;    
}

.sub-body-img-info .sub-body-img-title{
    text-shadow: 0 5px 10px #111;
}

.sub-body-img{
    width: 350px;
    height: 300px;
}

.sub-body .sub-body-img-info:hover h3{
    display: block;
}

.sub-body h3{
    width: 350px;
    height: 300px;
    position: absolute;
    top: 28px;
    left: 0;
    margin: 20px;
    text-align: center;
    background: rgba(224,222,222, 0.6);
    line-height: 300px;
    color: white;
    display: none;
}

.sub-body .sub-body-img-info:hover h4{
    display: block;
}

.sub-body h4{
    background: rgba(130,108,227,0.6);
    width: 350px;
    height: 300px;
    position: absolute;
    top: 28px;
    left: 0;
    margin: 20px;
    text-align: center;
    line-height: 300px;
    color: white;
    display: none;
}

.sub-body .sub-body-img-info:hover h5{
    display: block;
}

.sub-body h5{
    background: rgba(237,231,169,0.6);
    width: 350px;
    height: 300px;
    position: absolute;
    top: 28px;
    left: 0;
    margin: 20px;
    text-align: center;
    line-height: 300px;
    color: white;
    display: none;
}

.sub-body-content{
    margin-top: 30px;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.dropbtn2{
    background-color: #000;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    
}

/* Dropdown button on hover & focus */
.dropbtn2:hover, .dropbtn2:focus {
    
    background-color: #595959;
    color: #000;
    border color: #000;
}

.sub-body-link{
    text-decoration: none;
}

a:link, a:visited{
    color: #fff;
}

/************************************************************************************************
******************************************FOOTER*************************************************
************************************************************************************************/


.footer{
    width: 100%;
    height: 50px;
    background: #2d3339;
}

.copyright{
    display: inline-block;
    color: #fff;
    font-family: Georgia, Times, serif;
    padding-top: 10px;
    padding-left: 200px;
    
}
























